
/* Principal Color */
$color-yellow: #C02DE8;
$color-yellow-mustard: #9108FF;
$color-yellow-dark: #86176e;
$color-peach: #FF883B; 
$color-red: #F53B18; 
$color-black:black;
$color-white:white;
$color-whitesmoke:whitesmoke;
$color-black-boxshadow:rgba(0,0,0,0.1);
$color-background:#a65691;
$color_white: #fff;
$color_prime: #d25ad6;
$color_grey: #e2e2e2;
$color_grey_dark: #a2a2a2;
$color-pink:#e489aa;
$color-hotpink:hotpink;
