
/* Principal Color */
$color-yellow: #F5EB3D;
$color-yellow-mustard: #FFCC14;
$color-yellow-dark: #E6A334;
$color-peach: #FF883B; 
$color-red: #F53B18; 
$color-black:black;
$color-white:white;
$color-whitesmoke:whitesmoke;
$color-black-boxshadow:rgba(0,0,0,0.1);

