
.hero {
  background-image: url(/img/ss.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.hero__news {
  position: relative;
  width: min(100%, 1400px);
  min-height: 30vh;
  margin: 0 auto;

  .hero__logo {
    margin: 0 auto;
    padding-top: calc(15vh - 65px);
    padding-left: 10px;
    width: 130px;

    @include lg{
      width: 220px;
    }

    img {
      width: 100%;
    }
  }

  .hero__title--bg {
    position: absolute;
    width: 20rem;
    padding: 20px;
    left: calc(50% - 10rem);
    top: calc(30vh - 25px);
    font-weight: bolder;
    text-align: center;
    border-radius: 30px;
    color: $color-black;
    background-color: $color-yellow-mustard;
    filter: opacity(0.65);

    @include lg{
      width: 60vw;
      left: calc(50% - 30vw);
      font-size: 2rem;
    }

    p {
      filter: opacity(1);
    }
  }
}

.general__container{
  display: flex;
  width: min(100%, 1250px);
  
  
  @include lg{
    margin: 0 auto;
    margin-top: 50px;
  }
  
  .news__container {
  margin: 45px auto;
  width: min(90% - 2rem, 900px);
  
  .new__container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 15px;
    background-color: rgb(27, 22, 22);
    
    .new__text {
      h3 {
        padding: 10px 0 10px 10px;
        font-weight: normal;
        color: cornflowerblue;

        @include lg{
          font-size: 25px;
        }
      }
      
      p {
        padding: 10px 0 10px 10px;
        color: white;
        width: 100%;

        @include lg{
          font-size: 20px;
        }
      }
      .news__loader{
        justify-self: center;
      }
    }

    .new__picture {
      img {
        max-inline-size: 200px;
        padding-right: 10px;
        border-radius: 10px;
        padding: 10px;
        
        @include lg{
          padding-right: 10px;
          border-radius: 10px;

        }
      }
    }
  }
}
  .banner__container{
    visibility: hidden;
    display: none;
    margin-top: 2rem;
    margin-left: 2rem;
    
    @include lg{
      visibility: visible;
      display: flex;
      flex-direction: column;
    }
    
    .banner{
      width: 350px;
      margin-bottom: 1rem;
      
      img{
        width: 100%;
      }
    }
  }

  .news__loader{
    display: flex;
    justify-content: center;
    
    .news__cta{
      font-size: 20px;
      cursor: pointer;
      background-color: $color-peach;
      padding: 10px 15px;
      border-radius: 5px;
      
      &:hover{
        color: $color-whitesmoke;
      }
    }
  }
}