@import 'news';
@import 'colors';
@import 'variables';
@import 'mixin';



*,
::after,
::before {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #eec612;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    
    a {
        color: white;
        padding: 10px;
        text-decoration: none;
        display: inline-block;
        transition: .5s;
    }

    li {
        float: left;
        padding: 10px;
        background: #eec612;
        color: white;
        position: relative;
        list-style-type: none;
    }

    li a {
        font-size: 15px;
    }

    img {
        width: 50px;
        margin-left: 10px;
    }

    li:hover {
        background-color: black;
    }

    .heading {
        font-size: 30px;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: auto;
        display: flex;
    }

    #bar {
        -webkit-appearance: none;
    }

    .trigger {
        display: none;
    }

    @media (max-width: 720px) {

        .main-menu{
            display:none;
            position: absolute;
            top: 50px;
            width: 100%;
            right: 0;
            opacity: 1;
            animation: anim .5s reverse;
        }

        @keyframes anim {
            0%{
                opacity: 0;
            }
            100%{
                opacity: 1;
            }
        }

        .main-menu > li {
            float: none;
        }

        .trigger{
            display: block;
        }

        .trigger, i {
            font-size: 30px;
            color: white;
            padding: 10px;
        }

        #bar:checked ~ .main-menu {
            display: block;
            opacity: 0;
            animation: anim .5s forwards;
        }

        #bar:checked ~ .trigger {
            background-color: black;
        }

    }
}

use:hover {
    fill: #93e8eb;
    cursor: pointer;
}

/* login */
.hero__container{
    display: flex;

    .map__container{
        max-inline-size: 70%;
        border: 1px solid rgb(0, 255, 255);
    }
    
    .login__container{
        display: flex;
        flex-direction: column;
        background-image: "";
    
        .cta{
            display: inline-block;
        }
    }
}

//quienessomos
.parallax{
    font-family: Open Sans;
  font-size: 18px;
  line-height: 28px;
  scroll-behavior: smooth;
  h1 {
    letter-spacing: -15px;
    font-family: Open Sans;
    color: rgb(240, 239, 188);
    text-align: center;
    font-size: 150px;
    font-weight: 800;
    line-height: 200px;
    text-shadow: 4px 4px black;
  }
  
  .MainContainer {
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
  .ContentContainer {
    position: relative;
    display: block;
    background-color: white;
    z-index: 1;
  }
  
  .Content {
    max-width: 750px;
    margin: 0 auto;
    padding: 75px 0;
  }
  
  p {
    margin: 75px 0;
  }
  
  .ParallaxContainer {
    display: flex;
    flex: 1 0 auto;
    position: relative;
    z-index: -1;
    height: 100vh;
    justify-content: center;
    align-items: center;
    transform: translateZ(-1px) scale(2);
    background: url(https://wallpaperaccess.com/full/3433141.jpg);
    background-size: cover;
    
  }
  
  @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');
  
}

.cardd{
    .containers{  
        width: 80%;
        display: flex;
        align-items: center;
        padding: 0;
        margin-left: 150px;
      }
      .card-container {
        display: inline-block;
        margin: 0 auto;
        padding: 0 12px;
        perspective: 900px;
        text-align: center;
      }
      .card {  
        position: relative;
        width: 300px;
        height: 260px;
        transition: all 0.6s ease;
        transform-style: preserve-3d;
      }
      .front, .back {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 5px;
      color: white;
      box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
      backface-visibility: hidden;
      }
      .front {
        background: #FEC606;
        font-size: 12px;
        .card-img{
          background: black;
          width: 100%;
          height: 210px;
          overflow:hidden;
          & img{
            width: 100%;
            height: 100%;      
          }
        }
        .card-body{
          width: 100%;
          height: 150px;    
          h3{
           font-size: 15px; 
          }
        }
        .card-footer{
          font-size: 16px;
        }
      }
      .back {  
        background: tomato;
        font-size: 14px;  
        p{
          padding: 1em;
          font-weight: 100;
          span{
            font-weight: bold;
          }
        }  
        ul li{
            text-align: left;
        }
        
      }
      .card-container:hover .card {
      transform: rotateY(180deg);
      }
      .back {
      transform: rotateY(180deg);
      }
}